#bedroom_detectionH {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

#tv_detectionH {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

#bottle_detectionH {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

#desk_detectionH {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

#basket_detectionH {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 5px;
}